body {
    /* pretty it up */
    width: 95vw;
    height: 95vh;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font: 1em Arial, sans-serif;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    /*   border-radius: 5px; */
    text-decoration: none;
    color: gray;
    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(silver, silver);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.button:hover {
    /* The following line makes the underline only as wide as the text */
    /* background-size: calc(100% - 2em) 5px, auto; */
    background-size: 100% 5px, auto;
}